.jintonic_logo{
    font-family: 'Lobster', cursive;
}

.jintonic_footer_button{
    font-size: .6rem;
}

.jintonic_footer{
    text-align: center; margin-top: 2rem;
}

.jintonic_header{
    text-align: center; margin: 2rem 0
}